<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <h1>Lista de Licores</h1>
        <table id="table" class="display">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <% productos.forEach(producto=> { %>
                    <tr>
                        <td>
                            <%= producto.nombre %>
                        </td>
                        <td>
                            <%= producto.precio %>
                        </td>
                        <td>
                            <%= producto.stock %>
                        </td>
                        <td>
                            <a href="/productos/<%= producto._id %>" class="bi bi-search"></a>
                            <a href="#" class="bi bi-pencil"></a>
                            <form action="#" method="POST"
                                style="display:inline;">
                                <button type="submit" class="bi bi-trash3-fill"></button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <a href="#">Nuevo Registro</a>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <%- include('../partials/_scripts') %>
</body>

</html>